<html>
    <head>
        <title>
            All Articles
        </title>
        
    </head>
    
    <body>
        <h1>All Articles</h1>
        
         <% for(var i=0; i<articles.length; i++) { %>
            <h2> <%= articles[i].title %> </h2>
            <h1> <%= articles[i].id %> </h1>
            <p>
              <%= articles[i].user%>
            </p>
            <h3><%= articles[i].content%></h3>
            <h3><%= articles[i].created%></h3>
            <% } %>
        
        
    </body>
    
</html>