<html>
    <head>
        <title>
            Edit Product
        </title>
        
    </head>
    
    <body>
        <h1>Edit Product</h1>
        <div>
            Name:
            <input type="text" id="name" value="<%= product.Name %>" />
        </div>
        <br>
        <div>
            Description:
            <textarea id="description"> <%= product.Description %> </textarea>
        </div><br>
        <div>
            Price:
            <input type="number" id="price" value="<%= product.Price %>"/>
        </div><br>
        <div>
            Quantity:
            <input type="number" id="quantity" value="<%= product.Quantity %>"/>
        </div>
        <br>
        <button id="submit">Update</button>
        
        <script src="/lib/jquery/dist/jquery.min.js" ></script>
        <script>
            var product = {};
            var productId = <%- JSON.stringify(request.product._id) %>
            $("#name").change(function(){
                product.Name = $("#name").val();
            });
            $("#description").change(function(){
                product.Description = $("#description").val();
            });
            $("#price").change(function(){
                product.Price = $("#price").val();
            });
            $("#quantity").change(function(){
                product.Quantity = $("#quantity").val();
            });
            $("#submit").click(function(){
                $.ajax({
                   method: "PUT",
                   url: "/api/products/edit/" + productId,
                   data: product
                }).done(function(res)
                {
                    alert("Succuessfully Edited !");
                    console.log(res);
                    window.location.href = "/products/"+res._id;
                }).fail(function(res)
                {
                    alert("Failed" + " " + JSON.parse(res.responseText).message);
                });
            });
        </script>
        
        
        
    </body>
    
</html>